.container {
  width: 400px;
}

.screen {
  background-color: #262834;
  color: white;
  height: 100px;
  line-height: 100px;
  padding: 0 20px;
  font-size: 30px;
  text-align: right;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
}

button {
  background-color: #262834;
  color: white;
  font-size: 25px;
  width: 100px;
  height: 80px;
  border: none;
  outline: none;
  border: 1px solid rgb(92, 92, 92);
  cursor: pointer;
  transition: all 0.4s;
}
button:hover {
  opacity: 0.7;
}

.color {
  background-color: #56cbdb;
  color: #262834;
  font-weight: 600;
}
.twoCol {
  width: 200px;
}
